
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
	margin-bottom:0px;
}

.big-padding{
	padding:30px;
}

.blue-grey{
	background-color:#37474f;
}

.white{
	background-color:white;
}

.write-text{
	color:white;
}

.table{
	background-color:white;
}

.floating{
	position:fixed;
	bottom:2em;
	right:2em;
	z-index:100;
}